/** @format */
@import url('https://fonts.cdnfonts.com/css/sf-distant-galaxy');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='radio'] {
	display: none;
}

input[type='radio']:checked + label {
	background-color: red;
}

.bg {
	background-image: url(./assets/bg.jpg);
}
